---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
  <section class="about">
    <h1>Welcome to the Skooma Den!</h1>
    <br>
    <p>Discover the beauty and intricacy of tea and much more at Skooma Den. This site is crafted on the robust framework provided by the talented <a href="https://github.com/moeyua/astro-theme-typography" target="_blank" rel="noopener noreferrer">moeyua</a>, whose innovative work in the Astro community has greatly inspired us.</p>
    <br>
    <p>Here in the Den, I delve into the world of teas, sharing my personal experiences and intriguing anecdotes about the various blends I encounter. Whether you're a tea novice or a connoisseur, there's something here for everyone.</p>
    <br>
    <p>Updates here might be sporadic, but you can catch more frequent insights and discussions over on my <a href="https://steepster.com/Yaroster" target="_blank" rel="noopener noreferrer">Steepster profile</a>. The pace is quicker, and the tea is always steeping!</p>
    <br>
    <p>It's true that blogs aren't as bustling as they once were, but my passion for blogging about tea burns as brightly as ever. It's a space to slow down, savor, and explore the stories each leaf tells.</p>
    <br>
    <p>Thank you for visiting Skooma Den. Sit back, relax, and enjoy a warm cup of tea with your reads. Your company here is greatly appreciated.</p>
  </section>
</LayoutDefault>
