@keyframes odsoky {
  0%{
    transform: translateY(6px);
  }

  100%{
    transform: translateY(1px);
  }

}
em {
	color: lighten( $color-black, 40% );
	font-style: italic;
}
.con-tooltip {
  min-height:  92px;
  min-width: 157px;
  position: relative;
  border-radius: 9px;
  left: 95px;
  top: 14px;
  padding: 0 20px;
  margin: 10px;
  margin-bottom: 12px;
  display: inline-block;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.con-tooltip.bottom {
  width: 150px;
  left: -103px;
  opacity: 1
}
.con-tooltip.bottom .tooltip {
  width: 150px;top: 72px;left:0;
}
.tooltip {

  visibility: hidden;
  opacity: .40;

  width: 100%;
  padding: 0px 20px;

  background: #333;
  color: #fff;

  position: absolute;
  top:-140%;
  left: -25%;


  border-radius: 9px;
  font: 16px;

  transform: translateY(9px);
  transition: all 0.3s ease-in-out;

  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #333 transparent transparent transparent;

  position: absolute;
  left: 40%;
}
.con-tooltip:hover .tooltip{
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
    transition: .3s linear;
  animation: odsoky 1s ease-in-out infinite  alternate;
}
.top:hover {
  transform: translateY(-6px);
}
.bottom .tooltip {
  top:115%; left:-20%;
}
.bottom .tooltip::after{
  top:-12%;
  left:40%;
  transform: rotate(180deg);
}
.note {
  font-size: 0.375em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}

@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');
@media (max-width: 1152px) {
  .con-tooltip {
		left: 64px;
	}
  .con-tooltip.bottom {
    top: -2px;
  }
}
@media (max-width: 448px) {
  .con-tooltip {
    left: 0px;
  }
}
