---
import Layout from "../layouts/Layout.astro";
import Component from "../components/Component.astro";
import Experience from "../components/experience/index.astro";
import { EXPERIENCE } from "../data/experience";
import { SOCIALS } from "../data/socials";
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yaroster</title>
    <link rel="icon" href="favicon.svg" type="image/svg+xml">

    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        .background2 {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            opacity: 0;
            transition: opacity 1s cubic-bezier(.42,1.03,.7,-0.36);
        }
        .background2 {
            opacity: 1; /* Initially visible */
        }
        #svg-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            overflow: visible;
        }
        #logo {
            cursor: pointer;
            width: 30vw;
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
        }
        #logo:hover {
            transform: scale(1.1) rotate(360deg);
            animation: spin 2s linear infinite;
        }
        @keyframes spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }
        #main-content {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: auto;
        }
    </style>
</head>
<body>
<div class="background2">
    <svg width="5610" height="3353" viewBox="0 0 5610 3353" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 -0.000166825L0 3353H5610V3252.56V3227.42V3191.76V3146.31V3114.57V3103.58V3043.96V3031.81V3002.43V2984V2953.4V2915.35V2819.77V2797.84V2719.67V2699.85V2652.69V2565.06V2538.49V2513.82V2484.17V2442.59V2377.81V2364.58V2283V2254.94V2135.36V2005.96V1949.34V1807.93V1764.91V1711.92V1678.17V1644.41V1591.43V1548.41V1406.99V1350.38V1220.97V1101.38V1073.36V991.741V978.539V913.762V872.143V842.495V817.827V791.256V703.656V656.499V636.64V558.494V536.566V440.966V402.928V372.329V353.925V324.501V312.363V252.732V241.768V210.051V164.572V128.939V103.767V-0.000166825H0Z" fill="url(#paint0_radial_2_4)"/>
        <defs>
            <radialGradient id="paint0_radial_2_4" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5326.51 387.711) rotate(-106.384) scale(6315.24 5459.16)">
                <stop stop-color="#5F5E63"/>
                <stop offset="0.801983"/>
                <stop offset="0.953125"/>
                <stop offset="1"/>
            </radialGradient>
        </defs>
    </svg>
</div>
<div id="svg-container">
    <svg id="logo" width="1751" height="1721" viewBox="0 0 1751 1721" fill="none" xmlns="http://www.w3.org/2000/svg" overflow="visible">
        <path id="branch3" d="M424.069 284.124C385.923 203.498 420.36 107.215 500.985 69.0693C581.611 30.9234 677.894 65.3598 716.04 145.985L1326.33 1435.9C1364.48 1516.52 1330.04 1612.81 1249.41 1650.95C1168.79 1689.1 1072.51 1654.66 1034.36 1574.04L424.069 284.124Z" fill="url(#paint0_radial_5_20)"/>
        <path id="branch3" d="M424.069 284.124C385.923 203.498 420.36 107.215 500.985 69.0693C581.611 30.9234 677.894 65.3598 716.04 145.985L1326.33 1435.9C1364.48 1516.52 1330.04 1612.81 1249.41 1650.95C1168.79 1689.1 1072.51 1654.66 1034.36 1574.04L424.069 284.124Z" fill="url(#paint1_angular_5_20)" fill-opacity="0.2"/>
        <path id="branch1" d="M161.699 1021.51C72.5055 1021.51 0.199463 949.205 0.199463 860.011C0.199463 770.817 72.5055 698.511 161.699 698.511H1588.7C1677.89 698.511 1750.2 770.817 1750.2 860.011C1750.2 949.205 1677.89 1021.51 1588.7 1021.51H161.699Z" fill="url(#paint2_radial_5_20)"/>
        <path id="branch1" d="M161.699 1021.51C72.5055 1021.51 0.199463 949.205 0.199463 860.011C0.199463 770.817 72.5055 698.511 161.699 698.511H1588.7C1677.89 698.511 1750.2 770.817 1750.2 860.011C1750.2 949.205 1677.89 1021.51 1588.7 1021.51H161.699Z" fill="url(#paint3_angular_5_20)" fill-opacity="0.2"/>
        <path id="branch2" d="M716.04 1574.04C677.894 1654.66 581.611 1689.1 500.985 1650.95C420.36 1612.81 385.923 1516.52 424.069 1435.9L1034.36 145.985C1072.51 65.3598 1168.79 30.9233 1249.41 69.0692C1330.04 107.215 1364.48 203.498 1326.33 284.124L716.04 1574.04Z" fill="url(#paint4_radial_5_20)"/>
        <path id="branch2" d="M716.04 1574.04C677.894 1654.66 581.611 1689.1 500.985 1650.95C420.36 1612.81 385.923 1516.52 424.069 1435.9L1034.36 145.985C1072.51 65.3598 1168.79 30.9233 1249.41 69.0692C1330.04 107.215 1364.48 203.498 1326.33 284.124L716.04 1574.04Z" fill="url(#paint5_angular_5_20)" fill-opacity="0.2"/>
        <defs>
            <radialGradient id="paint0_radial_5_20" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1442.5 2121.5) rotate(-114.497) scale(2457.1 453.511)">
                <stop stop-color="white" stop-opacity="0.5"/>
                <stop offset="0.914855" stop-opacity="0.5"/>
                <stop offset="1" stop-opacity="0.5"/>
            </radialGradient>
            <radialGradient id="paint1_angular_5_20" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(875.199 860.011) rotate(65.3259) scale(872.666 161.069)">
                <stop stop-opacity="0"/>
                <stop offset="0.505"/>
                <stop offset="1"/>
            </radialGradient>
            <radialGradient id="paint2_radial_5_20" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(2258.12 886.714) rotate(-179.177) scale(2457.1 453.511)">
                <stop stop-color="white" stop-opacity="0.5"/>
                <stop offset="0.914855" stop-opacity="0.5"/>
                <stop offset="1" stop-opacity="0.5"/>
            </radialGradient>
            <radialGradient id="paint3_angular_5_20" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(875.199 860.011) rotate(0.645869) scale(872.666 161.069)">
                <stop stop-opacity="0"/>
                <stop offset="0.505"/>
                <stop offset="1"/>
            </radialGradient>
            <radialGradient id="paint4_radial_5_20" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1490.78 -378.637) rotate(116.143) scale(2457.1 453.511)">
                <stop stop-color="white" stop-opacity="0.5"/>
                <stop offset="0.914855" stop-opacity="0.5"/>
                <stop offset="1" stop-opacity="0.5"/>
            </radialGradient>
            <radialGradient id="paint5_angular_5_20" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(875.199 860.011) rotate(-64.0341) scale(872.666 161.069)">
                <stop stop-opacity="0"/>
                <stop offset="0.505"/>
                <stop offset="1"/>
            </radialGradient>
        </defs>
    </svg>
</div>
<div id="main-content">
    <Layout title="Yaroster">
        <div class="relative hero z-10">
          <div
            class="mx-auto min-h-screen max-w-screen-2xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
          >
            <div class="lg:flex lg:justify-between lg:gap-4">
              <header
                class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
              >
                <div
                  class="flex lg:items-start gap-4 flex-col lg:flex-row items-center text-center lg:text-left"
                >
                  <img src="/avatar.png" alt="Yaroster" class="w-16 h-16" />
                  <div>
                    <a
                      href="/"
                      class="text-4xl lg:text-5xl block font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50"
                    >
                      <h1>Yaroster</h1>
                    </a>
                    <h2 class="mt-2 text-sm lg:text-lg font-medium text-neutral-400">
                      Dev and UI/UX Designer
                    </h2>
      
                    <a
                      data-ccursor
                      href="mailto:chat@yaroster.com"
                      class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-400/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4"
                    >
                      <span>📧 Let's Chat!</span>
                      <sapn
                        class="w-2 h-2 rounded-full bg-green-400 duration-1000 animate-pulse"
                      >
                      </sapn>
                    </a>
                  </div>
                </div>
      
                {
                  SOCIALS.length && (
                    <ul
                      class="mt-8 flex items-center justify-center lg:justify-normal gap-x-5"
                      aria-label="Social media"
                    >
                      {SOCIALS.map((social) => (
                        <li class="text-xs p-2 rounded" data-ccursor>
                          <a
                            class="block hover:text-slate-200"
                            href={social.url}
                            target="_blank"
                            rel="noreferrer noopener"
                            aria-label={`${social.name} (opens in a new tab)`}
                          >
                            <span class="sr-only">{social.name}</span>
                            {<Component component={social.icon} />}
                          </a>
                        </li>
                      ))}
                    </ul>
                  )
                }
              </header>
      
              <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
                <section
                  id="about"
                  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
                  aria-label="About me"
                >
                  <div
                    class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
                  >
                    <h2
                      class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
                    >
                      About
                    </h2>
                  </div>
                  <div>
                    <div class="mb-4 space-y-4">
                      <p style="display: flex; align-items: center; gap: 5px;">
                        <span><b>Welcome !</b></span> 
                        <img src="https://raw.githubusercontent.com/MartinHeinz/MartinHeinz/master/wave.gif" width="30px" height="30px">
                      </p>
                      <p>My name is Yaroster, I'm an Aspiring Mathematician.<br>I grew up in Dubai and I speak 🇨🇳, (🇱🇧🇦🇪🇲🇦), 🇫🇷, and 🇺🇸.</p>
                      <p>
                        I'm currently studying at <a href="https://www.sorbonne-universite.fr/" target="_blank" rel="noreferrer noopener"><b>Sorbonne Université</b></a>,<br>
                        I am the Founder of the <a href="https://www.teaandcoffee.club/" target="_blank" rel="noreferrer noopener"><b>Tea and Coffee Club</b></a>, <br>
                        and the humble quill behind <a href="https://www.skoomaDen.me/" target="_blank" rel="noreferrer noopener"><b>skoomaDen</b></a>.

                      </p>
                    </div>
                  </div>
                </section>
                <section
                  id="experience"
                  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
                  aria-label="Work experience"
                >
                  <div
                    class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
                  >
                    <h2
                      class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
                    >
                      Experience
                    </h2>
                  </div><div>
                    <ol class="group/list space-y-12">
                      {EXPERIENCE.map((experience) => <Experience {...experience} />)}
                    </ol>
      
                    <div class="mt-12">
                      <a
                        data-ccursor
                        class="inline-flex items-center leading-tight text-neutral-200 font-semibold group p-2 rounded px-3"
                        aria-label="View Full Résumé"
                        target="_blank"
                        rel="noreferrer noopener"
                        href="./CV.pdf"
                      >
                        <span>
                          <span
                            class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
                          >
                            View Full
                          </span>
                          <span class="whitespace-nowrap">
                            <span
                              class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
                            >
                              Résumé
                            </span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="ml-1 inline-block h-4 w-4 shrink-0 -translate-y-px transition-transform group-hover:translate-x-2 group-focus-visible:translate-x-2 motion-reduce:transition-none"
                              aria-hidden="true"
                              ><path
                                fill-rule="evenodd"
                                d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                                clip-rule="evenodd"></path></svg
                            ></span
                          ></span
                        ></a
                      >
                    </div>
                  </div>
                </section>
              </main>
            </div>
          </div>
        </div>
      
        <footer class="text-center py-4 text-xs">
          {new Date().getFullYear()} All rights reserved.
        </footer>
      </Layout>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  import gsap from "gsap";
  import $ from "jquery";

  document.addEventListener('DOMContentLoaded', function() {
    // GSAP animation sequence starts as soon as the page is fully loaded
    var tl = gsap.timeline();

    tl.to('#branch1', {duration: 1, x: -window.innerWidth * 3, y: -window.innerHeight * 3, ease: "power1.in"})
      .to('#branch2', {duration: 1, x: window.innerWidth * 3, y: -window.innerHeight * 3, ease: "power1.in"}, 0)
      .to('#branch3', {duration: 1, y: window.innerHeight * 3, ease: "power1.in"}, 0)
      .to('#svg-container', {duration: 1, scale: 0, ease: "power1.in"}, '-=1')
      .call(function() {
        // Show the main content after the animation completes
        const mainContent = document.getElementById('main-content');
        if (mainContent) {
          mainContent.style.display = 'block'; // Show the main content
        }
        $('.background2').animate({opacity: 0}, 1000, function() {
          $(this).remove(); // Optionally remove the background after fading out
        });
      });
  });
</script>

</body>
</html>
